html,body,*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    background-color: aqua;
    width: 50%;
}
.header2{
    background-color: aqua;
    margin-top: 60px;
    padding: 20px;
    width: 50%;
}
div{
    display: inline-block;
}